@media (max-width: 1024px) {

  /* deafult for section header */
  .section-header{   
    margin: 3rem 2rem !important;
  }

  /* 02. hero-area  */  
  .content-center{    
    width: 60% !important;
    padding-top: 35% !important; 
    margin: auto !important;
  }

  /* 03. morning-section  */
  .morning-section{   
    padding: 1rem;
  }
  .morning-content{    
    padding-top: 1rem !important;
  }
  .morning-section .carousel-item{    
    width: 100% !important;
    height: 800px;
  }  
  .morning-section .carousel-item img{
    height: 100%;
    width: 100%;
  }



  




}







@media (max-width: 992px) { 
  
  /* deafult for section header */
  .section-header{   
    margin: 2rem 1.2rem !important;
  }

  /* 02. hero-area  */  
  .content-center{    
    width: 60% !important;
    padding-top: 35% !important; 
    margin: auto !important;
  }

  







}







@media (max-width: 768px) { 

  /* deafult for section header */
  .section-header{   
    margin: 2rem 1rem !important;
  }

  /* 02. hero-area  */  
  .content-center{    
    width: 60% !important;
    padding-top: 35% !important; 
    margin: auto !important;
  }

  /* 03. morning-section  */  
  .morning-section .carousel-item{       
    width: 100% !important;
    height: 700px;
  }  
  .morning-section .carousel-item img{
    height: 100%;
    width: 100%;
  }
  
  /* 04. brand section */
  .product-brand .brand-img{
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .product-brand .brand-img img{
    height: 100%;
    width: 100%;
  }








}








@media (max-width: 600px) {

  /* deafult for section header */
  .section-header{   
    margin: 2rem 1rem !important
  }


  /* 02. hero-area  */  
  .content-center{
    width: 90% !important;
    padding-top: 40% !important; 
    margin: auto !important;
  }

  /* 03. morning-section  */  
  .morning-section .carousel-item{    
    width: 100% !important;
    height: 400px !important;
  }  
  .morning-section .carousel-item img{
    height: 100%;
    width: 100%;
  }





  

}






@media (max-width: 375px){

  
  /* 02. hero-area  */  
  .content-center{  
    width: 90% !important;
    padding-top: 40% !important; 
    margin: auto !important;
  }

  






}