@media (max-width: 1024px) {
  body h1{
    font-size: 2rem;
  }

  /* deafult for section header */
  .section-header{   
    margin: 3rem 2rem !important;
  }

  /* 02. hero-area  */  
  .content-center{    
    width: 60% !important;
    padding-top: 35% !important; 
    margin: auto !important;
  }

  /* 03. morning-section  */
  .morning-section{   
    padding: 1rem;
  }
  .morning-content{    
    padding-top: 1rem !important;
  }
  .morning-section .carousel-item{    
    width: 100% !important;
    height: 800px;
  }  
  .morning-section .carousel-item img{
    height: 100%;
    width: 100%;
  }

  /* product section */
  .product-section .card{
    width: 90%;
    margin: auto;
  }
  .product-section .card a img{
    height: 100%;
    width: 100%;
    margin: auto;
  }

  /* machine-section */
  .machine-section{    
    width: 90%;
    margin: auto;
  }
  .machine-section .carousel-item img{     
    margin-top: 1rem !important;
    width: 100% !important;
    height: auto !important;
  }
  .machine-section a img{    
    width: 400px !important;
    height: 350px !important;    
  }
  .machine-section button.main-btn{
    width: 90% !important;
  }

  /* advantage of coffee section   */
  .advantage-coffee{
    width: 90%;  
    margin: auto;    
  }  
  .advantage-coffee a{      
    height: 680px;
    width: 90%;      
  }
  .advantage-coffee a img{
    height: 100%;
    width: 100%;
  }

  /* coffee maker section */
  .coffee-maker .carousel-item img{     
    width: 850px;
    height: 670px !important;
  }

  /* branch section */
  .branch-section .carousel-item img{
    height: 580px !important;
    width: 550px !important;
  }

  /* blogs section */
  .blogs-section{
    width: 90%;
    margin: auto;
  }
  .blogs-section .accordion{
    margin-top: 1rem !important;
  }
  .blogs-section .carousel-item img{
    height: 500px !important;
    width: 600px !important;    
    margin: auto;
  }

  /* re-view section */
  .review-section .card{
    width: 90% !important;
    margin: auto !important;
  }

  




}







@media (max-width: 992px) { 
  body h1{
    font-size: 1.5rem;
  }

  
  /* deafult for section header */
  .section-header{   
    margin: 2rem 1.2rem !important;
  }

  /* 02. hero-area  */  
  .content-center{    
    width: 60% !important;
    padding-top: 35% !important; 
    margin: auto !important;
  }

  /* machine-section */
  .machine-section{    
    width: 90%;
    margin: auto;
  }
  .machine-section .carousel-item img{     
    margin-top: 1rem !important;
    width: 100% !important;
    height: auto !important;
  }
  .machine-section a img{
    width: 100% !important;
    height: 450px !important;    
  }
  .machine-section button.main-btn{
    width: 90% !important;
  }

  /* advantage of coffee section   */
  .advantage-coffee{
    width: 90%; 
    margin: auto;     
  }  
  .advantage-coffee a {      
    height: 550px;
    width: 90%;         
  }
  .advantage-coffee a img{
    height: 100%;
    width: 100%;
  }

  /* coffee maker section */
  .coffee-maker .carousel-item img{     
    width: 800px;
    height: 650px !important;
  }

  /* branch section */
  .branch-section .carousel-item img{
    height: 580px !important;
    width: 530px !important;
  }

  /* order section */
  .order-section {
    width: 90%;
    margin: auto;
  }
  .order-section img{
    margin-bottom: 1.5rem;
  }

  /* branch section */
  .branch-section .carousel-inner img{
    width: 90% !important;
    margin: auto;
  }

  /* blog section */
  .blogs-section .carousel-item img{
    height: 500px !important;
    width: 600px !important;    
    margin: auto;
  }

   /* re-view section */
   .review-section .card{
    width: 90% !important;
    margin: auto !important;
  }


  

  







}







@media (max-width: 768px) { 
  body h1{
    font-size: 1.5rem;
  }


  /* deafult for section header */
  .section-header{   
    margin: 2rem 1rem !important;
  }

  /* 02. hero-area  */  
  .content-center{    
    width: 60% !important;
    padding-top: 35% !important; 
    margin: auto !important;
  }

  /* 03. morning-section  */  
  .morning-section .carousel-item{       
    width: 100% !important;
    height: 700px;
  }  
  .morning-section .carousel-item img{
    height: 100%;
    width: 100%;
  }
  
  /* 04. brand section */
  .product-brand .brand-img{
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .product-brand .brand-img img{
    height: 100%;
    width: 100%;
  }

  /* machine-section */
  .machine-section{    
    width: 90%;
    margin: auto;
  }
  .machine-section .carousel-item img{     
    margin-top: 1rem !important;
    width: 100% !important;
    height: auto !important;
  }
  .machine-section a img{    
    width: 400px !important;
    height: auto !important;    
  }
  .machine-section button.main-btn{
    width: 90% !important;
  }

  /* advantage of coffee section   */
  .advantage-coffee{
    width: 90%;      
  }  
  .advantage-coffee a{      
    height: 500px;
    width: 90%;      
  }
  .advantage-coffee a img{
    height: 100%;
    width: 100%;
  }

  /* coffee maker section */
  .coffee-maker .carousel-item img{     
    width: 700px;
    height: 600px !important;
  }

  /* branch section */
  .branch-section .carousel-item img{
    height: 500px !important;
    width: 530px !important;
  }

  /* blog section */
  .blogs-section .carousel-item img{
    height: 500px !important;
    width: 100% !important;    
    margin: auto;
  }

   /* re-view section */
   .review-section .card{
    width: 90% !important;
    margin: auto !important;
  }


  
  










}








@media (max-width: 600px) {
  body h1{
    font-size: 1.5rem;
  }


  /* deafult for section header */
  .section-header{   
    margin: 2rem 1rem !important
  }


  /* 02. hero-area  */  
  .content-center{
    width: 90% !important;
    padding-top: 40% !important; 
    margin: auto !important;
  }

  /* 03. morning-section  */  
  .morning-section .carousel-item{    
    width: 100% !important;
    height: 400px !important;
  }  
  .morning-section .carousel-item img{
    height: 100%;
    width: 100%;
  }

  /* machine section */
  .machine-section h1{
    font-size: 2rem;
  }

  /* advantage of coffee section   */
  .advantage-coffee{
    width: 90%;      
  }  
  .advantage-coffee a{      
    height: 480px;
    width: 90%;      
  }
  .advantage-coffee a img{
    height: 100%;
    width: 100%;
  }

  /* coffee maker section */
  .coffee-maker .carousel-item img{     
    width: 500px;
    height: 480px !important;
  }  

  /* branch section */
  .branch-section .carousel-item img{
    height: 500px !important;
    width: 500px !important;
  }

   /* re-view section */
   .review-section .card{
    width: 90% !important;
    margin: auto !important;
  }

 
  



  

}






@media (max-width: 375px){
  
  /* 02. hero-area  */  
  .content-center{  
    width: 90% !important;
    padding-top: 40% !important; 
    margin: auto !important;
  }

  /* advantage of coffee section   */
  .advantage-coffee{
    width: 90%;      
  }  
  .advantage-coffee a{      
    height: 450px;
    width: 90%;      
  }
  .advantage-coffee a img{
    height: 100%;
    width: 100%;
  }

  /* coffee maker section */
  .coffee-maker .carousel-item img{     
    width: 450px;
    height: 400px !important;
  }

  /* branch section */
  .branch-section .carousel-item img{
    height: 400px !important;
    width: 400px !important;
  }

  /* blog section */
  .blogs-section .carousel-item img{     
    height: 370px !important;
    width: 90% !important;
    margin: auto;
  }
  

   /* re-view section */
   .review-section .card{
    width: 90% !important;
    margin: auto !important;
  }

   
  


  






}