@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400&family=Mukta:wght@400;500;600;700&display=swap');

*,
*::after,
*::before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

:active,
:hover,
:focus{
  outline: 0 !important;
  outline-offset: 0;
}

a, 
a:hover{
  text-decoration: none;
}

ul,
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  max-height: 100%;  
}

/* ======== Variables Define ======== */
:root{
  --primary-color: #522605;
  --secondary-color: #ff008c;
  --third-color: #8600b3;
  --out-color: #0a82aa;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #18122B;
  --gray-color: #8e7a7a;
  --header-bg: #f69898;
  --frist-font: 'Mukta', sans-serif;
  --second-font: 'Heebo', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--frist-font);
  background-color: var(--white-color);
  font-size: 100%;
}

/* ======== Custom Scroll-bar ======= */
::-webkit-scrollbar{
  width: 0.730rem;
}

::-webkit-scrollbar-track{
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
}

/* ========== Custom CSS ========== */
h1{
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 0;
  color: var(--primary-color);
  letter-spacing: 3px;
  transition: all .3s;
}

h1:hover{
  cursor: pointer;
  letter-spacing: 0;
  text-shadow: 5px 5px 13px var(--black-color);
}

h2{
  font-size: 2.5rem;
  font-weight: 500; 
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 0;
  margin: auto;
  color: var(--secondary-color);  
  text-shadow: 5px 5px 20px var(--gray-color);  
  transition: all .4s ease;
}

h2:hover{
  color: var(--third-color);
  letter-spacing: 5px;
  text-shadow: 5px 5px 15px var(--text-color);  
}

h4{
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--third-color); 
  transition: .2s; 
}

h4:hover{
  color: var(--text-color);
}

h5{
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--second-font);
  color: var(--secondary-color);
  letter-spacing: 2px;
  transition: .3s;
}

h5:hover{
  letter-spacing: normal;
  color: var(--out-color);
}

p{
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--gray-color);
  font-family: var(--second-font);
  line-height: 1.3;
  text-align: justify;
  margin: 1rem auto;
  transition: .5s;
}

p:hover{
  color: var(--black-color);
}

.main-btn,
.second-btn{
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-color);  
  background-color: var(--white-color);
  padding: 6px 30px;
  margin: 1rem 1.7rem;
  border: none;
  border-radius: 30rem;
  box-shadow: 10px 10px 20px var(--secondary-color);
  text-transform: capitalize;
  transition: all .5s ease-in-out;
}

.main-btn:hover,
.second-btn:hover{
  color: var(--third-color);
  box-shadow: 5px 5px 3px var(--gray-color);
  border: 1px solid var(--text-color);
  text-shadow: 2px 2px 5px var(--gray-color);
}

.section-header{   
  margin: 6rem 2rem;
}

.section-header h2,
.section-header p{
  text-align: center; 
  margin: auto; 
}

.flex-item{
  display: flex;
  align-items: center;
  gap: 30px;
}

/* 
==========================================
        01. header section css
==========================================
*/

header{
  background-color: var(--header-bg); 
  padding: 30px 0;  
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000; 
}

.navbar-brand{
  font-size: 30px;
  font-weight: 600;
  color: var(--secondary-color); 
  background-color: var(--white-color); 
  border-radius: 30rem;
  padding: 8px 30px;
  box-shadow: 5px 5px 12px var(--text-color);
  transition: .5s;
}

.navbar-brand:hover{
  color: var(--third-color);    
  box-shadow: 10px 15px 15px var(--primary-color);
}

.nav-link{
  font-size: 22px;
  font-weight: 400;
  color: var(--white-color);  
  margin: 5px;
}

header form input{
  color: var(--out-color);
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  padding-left: 20px;
  border-radius: 30rem;
  outline: 0;
  border: none;
  width: 100%;
  transition: .5s;
}

header form input:hover{
  box-shadow: 5px 10px 12px var(--primary-color);
}

header form .search-btn{
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 7px 20px;
  margin-left: 1rem;
  border: none;
  border-radius: 30rem;
  box-shadow: 6px 4px 9px var(--primary-color);
  transition: .5s;
}

.search-btn:hover{
  color: var(--out-color);
  background: var(--white-color);
  box-shadow: none;
}
/* 
==========================================
      02. hero-area section css
==========================================
*/
.hero-area{
  background: url("../images/bg/hero-area-bg.png");
  background-repeat: no-repeat;
  background-position: center;  
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.content-center{
  padding-top: 15%;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

/* 
==========================================
      03. morning section css
==========================================
*/
.morning-section{     
  padding: 2rem 1.5rem 0 !important;
}

.morning-content{
  padding-top: 8rem;
}

.morning-section p{
  color: var(--out-color);
}

.morning-section .carousel-item{
  width: 100%;
  height: 800px;
}

.morning-section .carousel-item img{
  height: 100%;
  width: 100%;
}
/* 
==========================================
    04. product-brand section css
==========================================
*/
.product-brand .brand-img{  
  width: 300px;
  height: 280px;  
  padding: .5rem;
  box-shadow: 5px 5px 8px var(--black-color);
  border-radius: 5px;
  transition: .4s;
}

.product-brand .brand-img:hover{  
  box-shadow: 16px 15px 20px var(--primary-color);
}

.product-brand .brand-img img{  
  width: 100%;
  height: 100%;
}
/* 
==========================================
    05. product section css
==========================================
*/
.product-section .card{
  box-shadow: 15px 10px 22px var(--gray-color);
  transition: .5s;
}
.product-section .card:hover{
  box-shadow: 20px 20px 30px var(--header-bg);
}

.product-section .card img{
  width: 400px;
  height: 500px;  
}

.product-section .card-body .card-title{
  color: var(--third-color);
}

.product-section .card-body p{
  font-size: 15px;
  font-weight: 500;
  color: var(--out-color);  
  line-height: 1.2;
}

.product-section .card-body .price-star{
  justify-content: space-between;
}

.product-section .card-body .price-star strong{
  font-size: 20px; 
  font-weight: bold;
  color: var(--primary-color);
}

.product-section button{
  box-shadow: 3px 4px 10px var(--black-color);
}
/* 
==========================================
    06. our machine section css
==========================================
*/
.machine-section .carousel-item img{  
  padding: 1rem;
  width: 500px;
  height: 650px;
  margin-top: 5rem;  
}

.machine-section .carousel-item h5{
  font-size: 25px;
  font-weight: 600;
  color: var(--white-color);  
  background: #00000041;
  padding: 5px 0;  
}

.machine-section .carousel-item .price-sold{
  color: var(--secondary-color);
  font-weight: 700;
  justify-content: space-around;
}

.machine-section .carousel-item .price-sold strong{
  color: var(--white-color);
  font-size: 25px;
  font-weight: 900;
  background: var(--black-color);
  padding: .5rem;
  border-radius: 30rem;
}

.machine-section .carousel-item p{
  font-weight: bolder;
  color: var(--third-color); 
  background: var(--white-color); 
}

.machine-section a{
  width: 550px;
  height: 350px;
}

.machine-section a img{  
  padding: 1rem;
  width: 100%;
  height: auto;
}